<div ng-controller="ForumCtrl as f">
<h3>Forums</h3>
<p ng-if="f.forums.length == 0">No forums!</p>
<div ng-if="f.forums.length > 0" ng-repeat="forum in f.forums" class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ forum.name }}</h3>
        <small><b>Owner:</b> {{ forum.owner }}</small>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-10">
            <p>Forum created by {{ forum.owner }}, and currently holding {{ forum.totalMessages }} messages.</p>
          </div>
          <div class="col-xs-2"><p><a ui-sref="forums.read">Read</a></p></div>
        </div>
      </div>
    </div>
  </div>

</div>

<p>
  <a ui-sref="forums.create" class="btn btn-lg btn-primary" role="button">Create a forum &raquo;</a>
</p>


</div>
