<div ng-controller="HomeCtrl">
  <div ng-if="web3.currentProvider">
    <h1>You're ready!</h3>
    <p>Your address & keys have been generated and stored in your browser (localStorage).<br />
    Browser security is a hot topic, but I found this fine/enough for a demo.</p>
    <p>localStorage will hold these data even if you close your browser (this is what localStorage is about), but you may clear it from your browser settings or by clicking the destroy button.</p>
    <p>Note that your address is your identity, and it holds a relation with the content you've stored inside the blockchain, so you won't be able to "recover" or generate new content under the same identity.</p>
    <p>You should receive some ether in a while, keep an eye in your balance! It will be useful for creating content.</p>
    <p>
      <a ng-click="destroyAddressAndKeys()" class="btn btn-lg btn-primary" role="button">Destroy address & keys</a>
      <a ui-sref="forums" class="btn btn-lg btn-primary" role="button">Browse forums &raquo;</a>
    </p>
  </div>
  <div ng-if="!web3.currentProvider">
    <h1>Welcome!</h1>
    <p>You're running cryptoforum, an experimental / proof of concept / distributed forum built on top of Ethereum. <br />You may want to generate a new address to get started, after generation a script will send you some ether, this will be useful for content creation.</p>
    <p>It won't be possible to browse or create content if you don't have an address (and keys), as this client requires a valid "provider" before interacting with the network.</p>
    <!--This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.-->
    <p>
      <a ng-click="generateAddress()" class="btn btn-lg btn-primary" role="button">Generate address &raquo;</a>
      <!--<a class="btn btn-lg btn-primary" href="https://github.com/matiasinsaurralde/cryptoforum" role="button">View repo &raquo;</a>-->
    </p>
  </div>
</div>
