<h1>Welcome!</h1>
<p>You're running cryptoforum, an experimental / proof of concept distributed forum built on top of Ethereum. <br />Please get some ether to continue or run devnet (check README).</p>
<!--This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.-->
<p>
  <a class="btn btn-lg btn-primary" href="https://github.com/matiasinsaurralde/cryptoforum" role="button">View repo &raquo;</a>
</p>
